@import "tailwindcss";

/* Hiệu ứng xoay thuận chiều kim đồng hồ */
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

/* Hiệu ứng xoay ngược chiều kim đồng hồ */
@keyframes spin-reverse {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
.animate-spin-reverse {
  animation: spin-reverse 10s linear infinite;
}